@import "./styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

html {
  background-color: black;
}

body {
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url("./assets/main3.webp");
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Estilo base para scrollbars (Webkit) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* default invisible */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* visible solo en hover del contenedor */
.feed_main:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
